.pageContainer {
	height: 100vh;
}

section.home {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}