.event-container {
    padding-top: 20px;
	padding-bottom: 12px;
    width: 250px;
	/* height: 100%; */
    box-sizing: border-box; 

    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start;

    background: #FFF;
    
    position: relative; 
    overflow: hidden;

    border-bottom: 1px solid #C0C0C0;
    margin: 5px/* 10%*/;
}

.event-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
	width: 100%;
}

.event-text {
	hyphens: auto;
    padding-left: 5%;
}

.event-text h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #000;
}
.event-text p {
	margin-bottom: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: #AFAFAF;
    font-family: Arial;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}
.calImg {
	margin-right: 8px;
}