/* .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px 65px;
    width: 100%;
    box-sizing: border-box; /* Include padding in the width calculation */
    /* height: 100vh;
}

.event-card-container {
    /* overflow-y: auto; */
    /* overflow-x: hidden;
    min-height: 40vh;
    max-height: 60vh;
    align-items: center;
} */

/* .event-button:hover {
    border-color: #213547;
} */

/* .sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  } */
 
 /* ::-webkit-scrollbar-track {
   background: #f1f1f1;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 5px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 } */