.youth-page-main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: 15px 65px;
    width: 100%;
    box-sizing: border-box; /* Include padding in the width calculation */
    height: 100vh;
}

.youth-page-subcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youth-card-container{ 
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
}

.youth-page-title{
    color: black;
}

.youth-page-register{
    border-color: #213547;
    color: white;
    background-color: #CF2329;
}

.youth-page-empty{
    color:black;
}